main {
    display: grid;
    grid-gap: 20px;
    margin-top: 20px;
    justify-content: center;
    justify-items: center;
  }
  
  @media (min-width: 500px) {
    main {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 900px) {
    main {
      grid-template-columns: repeat(4, 1fr);
    }
  }

#reservation{
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(212, 251, 166);
}