@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Gamja+Flower&family=Jua&family=Noto+Sans+KR&display=swap');

* {
  font-family: 'Bagel Fat One', cursive;
  font-family: 'Gamja Flower', cursive;
  font-family: 'Jua', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

body::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

body {
  background-image: url('../img/ginseng.jpg');
  background-repeat: repeat;
  background-size: auto;
}

.navbar-brand {
  font-family: 'Bagel Fat One', cursive;
  font-family: 'Gamja Flower', cursive;
  font-family: 'Jua', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}
main {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
  justify-content: center;
  justify-items: center;
}

@media (min-width: 500px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

#reservationBtn {
  display: none;
}

.card-img-container img {
  width: 100%;
  height: auto;
}
