@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Nanum+Myeongjo&display=swap');

body::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

body {
  background-image: url('../img/ginseng.jpg');
  background-repeat: repeat;
  background-size: auto;
}

#navbar {
  background-color: rgb(35, 44, 44);
}

#logo:hover {
  color: lightgray;
  cursor: pointer;
}

#logo {
  font-size: 1.7rem;
}

main {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
  justify-content: center;
  justify-items: center;
}

main > .card {
  transition: transform 0.3s;
}

main > .card:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-color: black;
}

@media (min-width: 500px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-img-container img {
  width: 100%;
  height: auto;
}

h3 {
  color: white;
}

#resvBtn,
#reviewBtn {
  background-color: black;
  color: white;
  border-radius: 10%;
  border: none;
  padding: 8px 10px 8px 10px;
}

.writereviewBtn {
  background-color: darkolivegreen;
  color: white;
  border-radius: 10%;
  border: none;
  padding: 8px 10px 8px 10px;
}

#noticeAlert {
  margin: 10px 30px 0px 30px;
}

.shadedBox {
  color: white;
  background-color: rgb(35, 44, 44);
  box-shadow: 12px 12px 2px 1px rgb(86, 122, 122);
  margin: 20px 40px 20px 20px;
  padding: 20px 40px 20px 20px;
  font-size: 17px;
}

/*  */

:root {
  --shadedBoxWidth: 50px;
  --shadedBoxBoxShadow: 7px 7px 2px 1px rgb(100, 111.5, 111.5);
  --shadedBoxPadding: 20px 0px 20px 0px;
  --shadedBoxFontSize: 20px;
  --shadedBoxText-align: center;
  --shadedBoxText: 10px;
}
/* --shadedBoxTextVertical-align: middle; */

.shadedBoxCalendar {
  color: white;
  width: var(--shadedBoxWidth);
  height: var(--shadedBoxWidth);
  line-height: var(--shadedBoxText);
  background-color: rgb(35, 44, 44);
  box-shadow: var(--shadedBoxBoxShadow);
  padding: var(--shadedBoxPadding);
  font-size: var(--shadedBoxFontSize);
  text-align: var(--shadedBoxText-align);
  vertical-align: var(--shadedBoxTextVertical-align);
}

.shadedBoxCalendarBooked {
  color: rgb(165, 179, 179);
  width: var(--shadedBoxWidth);
  height: var(--shadedBoxWidth);
  line-height: var(--shadedBoxText);
  background-color: rgb(165, 179, 179);
  box-shadow: var(--shadedBoxBoxShadow);
  padding: var(--shadedBoxPadding);
  font-size: var(--shadedBoxFontSize);
  text-align: var(--shadedBoxText-align);
  vertical-align: var(--shadedBoxTextVertical-align);
}

.grid {
  display: grid;
  grid-template-columns: repeat(7);
  grid-gap: 0px;

  /* width: 385px; */
}

.guid {
  display: flex;
  height: var(--shadedBoxWidth);
  line-height: var(--shadedBoxWidth);
}

/*  */

.reservationBox {
  padding: 20px 20px 20px 20px;
}

#reviewcontent {
  font-family: 'Diphylleia', serif;
}
#resvtitle {
  font-size: 30px;
  font-weight: 800;
  color: rgb(35, 44, 44);
}

#reviewtitle,
#resvdate {
  color: black;
  background-color: rgb(160, 183, 183);
  font-size: 15px;
  padding: 5px;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  width: 385px;
}
